header {background-color: silver}
h1 {color: darkblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center}
p {color: silver;
font-family: cursive;
text-align: center}
body {background-color: darkblue;}
li {color: silver;
font-family: fantasy}
footer { background-color: silver}
h2 { color: silver;
text-align: center}
.btn-primary {
  color: Silver;
  background-color: darkblue;
  border-color: silver;
text-align: center;}
.center { text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
h3 {color: darkblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
